{
        "serverDomain": "DomainWhoami",
        "workerThreads": 10,
        "eventCapture": {
                "localAddress": ["172.20.0.5", "127.0.0.1"],
                "publicAddress": "IPWhoami",
                "http": {
                        "ports": 80
                },
                "https": {
                        "ports": 443
                },
                "smtp": {
                        "ports": [25, 587]
                },
                "smtps": {
                        "ports": 465
                },
                "ssl": {
                        "certificateFiles": [
                                "/etc/letsencrypt/live/DomainWhoami/privkey.pem",
                                "/etc/letsencrypt/live/DomainWhoami/cert.pem",
                                "/etc/letsencrypt/live/DomainWhoami/fullchain.pem"
                        ]
                }
        },
        "polling": {
                "localAddress": "172.20.0.5",
                "publicAddress": "IPWhoami",
                "http": {
                        "port": 9090
                },
                "https": {
                        "port": 9443
                },
                "ssl": {
                        "certificateFiles": [
                                "/etc/letsencrypt/live/DomainWhoami/privkey.pem",
                                "/etc/letsencrypt/live/DomainWhoami/cert.pem",
                                "/etc/letsencrypt/live/DomainWhoami/fullchain.pem"
                        ]
                }
        },
        "metrics": {
                "path": "jnaicmez8",
                "addressWhitelist": ["21.10.23.0/24"]
        },
        "dns": {
      "interfaces" : [{
          "name":"ns1.DomainWhoami",
          "localAddress":"172.20.0.5", 
          "publicAddress":"IPWhoami"
      }],
      "ports" : 53
   },
        "logLevel": "DEBUG"
}
